body
  font-family "ff-tisa-web-pro"
  text-align center
  -webkit-font-smoothing antialiased
.mainHeader
  padding 30px 0 35px 0
  text-align center
.logo
  display block
  position relative
  margin 0 auto -14px
.siteName
  color #231F20
  font-weight normal
  display inline-block
  margin-bottom 34px
  .the
    font-style italic
    display block
    text-align left
    font-size 24px
    box-sizing border-box
    padding-left 7px
  .fireside
    font-style italic
    font-weight 700
    font-size 52px
  .hangout
    font-style italic
    font-size 52px
.video
  width 940px
  height 500px
  background url('http://placekitten.com/940/500')
  display inline-block
  border-radius 5px
  box-sizing border-box
  padding-top 66px
  color #FFF
  margin-bottom 35px
  h3
    font-size 36px
    font-weight 700
    margin-bottom 18px
    font-style italic
  h4
    font-size 32px
    font-weight normal
.alert
  background #E03336
  color #FEFEFE
  border-radius 5px
  box-sizing border-box
  width 941px
  height 101px
  display inline-block
  font-style italic
  font-size 35px
  font-weight normal
  text-align left
  padding 30px 0 0 32px
  position relative
  strong
    font-weight 700
  button
    position absolute
    right 14px
    top 14px
button
  box-sizing border-box
  height 70px
  background #BD292C
  color white
  border 0
  border-radius 5px
  padding 0 28px
  box-shadow 0 3px 0 #9F0012
  font-family "proxima-nova"
  font-size 24px
  font-weight 400
  text-shadow 0 2px #9F0012
#content
  padding 45px 0
  background url('../img/tree_background.png')
  h1
    color #5A3C26
    font-size 44px
    margin 28px 0 38px
  p
    width 768px
    font-size 18px
    line-height 29px
    position relative
    margin 0 auto 28px
.break
  width 66px
  height 36px
  background url('../img/break.svg')
  position relative
  margin 0 auto
  &.end
    margin 44px auto