body
  font-family "ff-tisa-web-pro"
  text-align center
.mainHeader
  padding 30px 0 45px 0
  text-align center
.logo
  display block
  position relative
  margin 0 auto -14px
.siteName
  color #231F20
  font-weight normal
  display inline-block
  .the
    font-style italic
    display block
    text-align left
    font-size 24px
    box-sizing border-box
    padding-left 7px
  .fireside
    font-style italic
    font-weight 700
    font-size 52px
  .hangout
    font-style italic
    font-size 52px
.video
  width 940px
  height 500px
  background url('http://placekitten.com/940/500')
  display inline-block
  border-radius 5px
  box-sizing border-box
  padding-top 66px
  color #FFF
  h3
    font-size 36px
    font-weight 700
    margin-bottom 18px
    font-style italic
  h4
    font-size 32px
    font-weight normal